<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="pageContainer">
        <table>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Id</th>
                <th></th>
            </tr>
            <tr>
                <td><%= people.name %></td>
                <td><%= people.age %></td>
                <td><%= people.id %></td>
                <td><a href="/">Back</a></td>
            </tr>
        </table>    
        <form action="/<%= people.id %>?_method=DELETE" method="POST">
            <button class="btn" type="submit">Delete</button>
        </form>
    </div>
</body>
</html>